@import '../../../modulesFB/variables.css';

.pf-builder__view-automation-rules,
.pf-builder__design-automation-rule {
  .pf-builder__automation-rules-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.4rem;
  }

  .pf-builder__automation-rules-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.4rem 0;
  }

  .pf-builder__automation-rules-control-panel {
    display: flex;
    justify-content: flex-end;
  }

  .pf-builder__automation-rule-item {
    display: flex;
    align-items: center;
    background-color: $grams-hair;
    padding: 1.4rem;
    margin-bottom: 1.4rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $northeast-snow;
    }

    &.--basic {
      cursor: default;
      padding: 1rem;

      &:hover {
        background-color: $grams-hair;
      }
    }
  }

  .pf-builder__automation-rule-item-droplist-wrapper {
    width: 4.8rem;
    min-width: 4.8rem;
    text-align: center;
  }

  .pf-builder__automation-rule-item-text {
    margin: 0 1.4rem;
  }

  .pf-builder__automation-rules-section {
    border: solid 0.1rem $jolly-fun-time;
    padding: 1.4rem;
    margin-bottom: 1.4rem;

    &:last-child {
      margin: 0;
    }
  }

  .pf-builder__automation-rules-all-types-toggle {
    display: flex;
    align-items: center;

    > label {
      margin-left: 0.8rem;
    }
  }

  .pf-builder__design-rule-trigger-status-wrapper {
    margin-top: 0.8rem;
  }

  .pf-builder__design-rule-condition-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4rem;
  }

  .pf-builder__design-rule-condition-item {
    width: 100%;
    margin-right: 1.4rem;
  }

  .pf-builder__automation-rule-condition-status-droplist {
    margin-top: 0.8rem;
  }

  .pf-builder__automation-rules-do-not-duplicate-wrapper {
    display: flex;
    align-items: center;

    > label {
      margin-left: 0.8rem;
    }
  }

  .pf-builder__automation-rule-condition-int-ext-droplist {
    margin-top: 0.8rem;
  }
}
