/* Colours */
$invisible: rgba(0, 0, 0, 0);
$black: rgb(0, 0, 0);
$slate: rgb(9, 30, 66);
$slate-20: rgba(9, 30, 66, 0.2);
$slate-8: rgba(9, 30, 66, 0.08);
$squid-ink: rgb(23, 43, 77);
$snorlax: rgb(37, 56, 88);
$mc-fanning: rgb(66, 82, 110);
$bling-bling-10: rgba(108, 121, 143, 0.1);
$bling-bling: rgb(108, 121, 143);
$sentinel: rgb(179, 186, 197);
$jolly-fun-time: rgb(223, 225, 229);
$northeast-snow: rgb(235, 236, 240);
$grams-hair: rgb(244, 245, 247);
$wash-me: rgb(250, 251, 252);
$white: rgb(255, 255, 255);
$pacific-bridge: rgb(0, 82, 204);
$arvo-breeze: rgb(76, 154, 255);
$pixie-dust: rgb(222, 235, 255);
$golden-state: rgb(255, 171, 0);
$red-dirt: rgb(222, 53, 11);
$poppy-surprise: rgb(255, 86, 48);
$keen-green: rgb(0, 102, 68);
$slime: rgb(0, 135, 90);
$our-kellie: rgb(54, 179, 126);

/* Media Queries */
@custom-media --tablet (max-width: 786px);
