.topnav {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 20px;
}

.topnav .brand {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 40px 14px 16px;
    font-size: 17px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #0052CC;
    color: white;
}

.demo-section {
    margin-bottom: 50px;
}
.demo-section h2 {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
