@import '../../../modulesFB/variables.css';

.pf-builder__loading-spinner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 113rem;
  margin: 1.4rem 0;

  .pf-builder__loading-spinner-msg {
    margin-left: 0.8rem;
    font-size: 1.4rem;
  }
}
