@import '../variables.css';

#proforma-react-ui-app {
  .pf-builder__section-paragraph {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1.2rem 0 0;
    line-height: 2rem;
    letter-spacing: -0.005rem;
    color: $squid-ink;

    &.--no-margin {
      margin: 0;
    }

    &.--auto-width {
      width: auto;
    }
  }

  .pf-builder__section-paragraph-strong,
  .pf-builder__section-paragraph-span {
    margin: 0 0.4rem;

    &.--start {
      margin-left: 0;
    }

    &.--end {
      margin-right: 0;
    }
  }

  .pf-builder__section-paragraph-italic {
    margin: 0 0.4rem;

    &.--start {
      margin-left: 0;
    }

    &.--end {
      margin-right: 0;
    }
  }
}
